<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WindowsFormsApplication1.Properties.Settings.bd_jogo1ConnectionString"
            connectionString="Data Source=FERNANDO\SQLEXPRESS;Initial Catalog=bd_jogo1;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>